
<div class="site-wrapper">

  <div class="site-wrapper-inner">

    <div class="container">
        <div class="card">
            <div class="card-body">
              <div class="container">
                <div class="row">
                  <div class="col-5">
                    <p class="lead">I help make machines sing at Chirp
                    </p>
                  </div>
                  <div class="col-sm">
                    <p><a class="chirp" href="https://www.chirp.io"><img src="/img/chirp.png"></a></p> 
                  </div>     
                </div>
                <div class="row">
                  <div class="col-5">
                    <p class="lead">I enjoy taking pictures</p>
                  </div> 
                  <div class="col-sm">
                    <p><a href="{{ .Site.Params.instagram }}" target="_blank" rel="noopener"><img   src="/img/instagram.png"></a><a href="{{ .Site.Params.flickr }}"><img   src="/img/flickr.png"></a></p>  
                  </div>
                </div>
                <div class="row">
                  <div class="col-5">
                    <p class="lead">Contact me</p>
                    <p class="text-muted">james [at] nesfield [dot] org</p>
                  </div>
                  <div class="col-sm">
                    <p><a href="{{ .Site.Params.twitter }}" target="_blank" rel="noopener"><img   src="/img/twitter.png"></a><a href="{{ .Site.Params.linkedin }}" target="_blank" rel="noopener"><img   src="/img/linkedin.png"></p>
                  </div>
                </div>
              </div>
            </div>
            <div class="card-footer">
            </div>
        </div>
        <div class="mastfoot">
        <div class="inner">
            
        </div>
      </div>

    </div>

  </div>

</div>